@model ms_feedback.Models.Feedback

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Leave Feedback";
    Layout = "_FeedbackLayout";
}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h4 class="text-left" style="color: white;">Leave @ViewData["UserName"] some feedback:</h4>
        <form asp-controller="Feedbacks" asp-action="Create" method="post">
            <!-- Input and Submit elements -->
            <div class="form-group hide">
                <label asp-for="SenderName" class="col-md-2 control-label hide"></label>
                    <input asp-for="SenderName" class="form-control" placeholder="Your Name" />
                    <span asp-validation-for="SenderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedbackText" class="col-md-2 control-label hide"></label>
                    <textarea asp-for="FeedbackText" class="form-control" rows="8" style="width: 100%;"placeholder="Help them grow by providing some feedback."> </textarea>
                    <span asp-validation-for="FeedbackText" class="text-danger"></span>
            </div>
            <div class="form-group hide">
                <label asp-for="DeliveryDate" class="col-md-2 control-label hide"></label>
                    <input asp-for="DeliveryDate" class="form-control" placeholder="Deliver this feedback when?" />
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group hide">
                <label asp-for="Anonymous" class="col-md-2 control-label hide"></label>
                <input asp-for="Anonymous" class="form-control"/>
                <span asp-validation-for="Anonymous" class="text-danger"></span>
            </div>
            <button type="submit" style="float: right;" class="btn-submit-feedback">Send Feedback</button>
            <div class="form-group hide">
                <label asp-for="UserID" class="col-md-2 control-label hide"></label>
                <input asp-for="UserID" class="form-control" placeholder="User FK" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>