@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Register";
    Layout = "_FeedbackLayout";
}

<div class ="col-sm-12">This is the registration page.</div>